@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.section {
    padding: 1rem  1rem;
    margin-bottom: 3rem;
}

.button[disabled]:hover:after {
    content: "Coming soon";
    color: white;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    z-index: 100;
    padding: 0.1rem 0.3rem;
    bottom: -2rem;
}


.results-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results-carousel .item {
    margin: 2rem 1rem;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 0;
    font-size: 0;
    position: relative;
}

.results-carousel video {
    margin: 0;
    max-width: 400px;
}

@media (max-width: 950px) {
    .results-carousel video {
        max-width: unset !important;
        width: 100% !important;
    }
}

.results-carousel p {
    position: absolute;
    top:0.3rem;
    left:0.3rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.publication-links {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

iframe{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.teaser-image {
    /* max-width: unset; */
    object-position: center;
    min-height: 500px;
}

#teaser-narrow {
    display: none;
}

#pipeline-narrow {
    display: none;
    width: 100%;
}

@media (max-width: 800px) {
    #teaser-wide {
        display: none;
    }
    #teaser-narrow {
        display: block;
    }
    #motivational-example{
        flex-direction: column;
    }
}

.img-exact{
    image-rendering: pixelated !important;
}